# PHP tooling
/vendor
/php-coverage
/.php-cs-fixer.cache
/.php_cs.cache
/.phpunit.cache
/.phpunit.result.cache
/phpunit.xml.bak

# JavaScript/Typescript tooling
/client/lib
/coverage
/example/coverage
/example/node_modules
/example/vendor
/example/web/dist
/node_modules
