/example/web/ExampleApiTypes.ts

# PHP tooling
/vendor
/php-coverage
/.php_cs.cache
/.phpunit.result.cache

# JavaScript/Typescript tooling
/coverage
/node_modules
/example/node_modules
/example/web/dist
/tscbuild
