/.github/
/client/src/
/client/tests/
/coverage/
/example/
/example_tests/
/php-coverage/
/server/
/vendor/
/.editorconfig
/.eslintignore
/.eslintrc.js
/.php_cs_config.php
/.php_cs.cache
/.php_cs_config.php
/.phpunit.result.cache
/composer.json
/composer.lock
/jest.config.js
/phpunit.xml
/tsconfig.json
